@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    outline: none;
}
:root {
  --green: #012d1d;
  --green2: #326247;
  --yellow: #ffa41c;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    font-size: 14px;
    overflow-x: hidden;
    color: #333333;
}
.page_padding .section1
{
  padding-top: 62px;
}
.page_padding .section1 .title li
{
  opacity: 0.6;
}
.page_padding .section1 .title li:hover
{
  opacity: 1;
}
.page_padding.admin_login_page .section1
{
  margin-top: 62px;
  padding-top: 0;
}

::selection 
{
    color: var(--green);
    background: white;
}
a,a:hover 
{
    text-decoration: none;
    color: #333333;
}

.form-control:focus,
.form-select:focus{
  border-color: var(--green2);
  box-shadow: 0 0 0 0.25rem rgb(50 98 71 / 30%);
}
.form-control,
.form-select
{
  font-size: 14px;
}
.carousel-indicators  {
  margin-bottom: -15px;
}
#carousel-home
{
  z-index: 1;
}
.carousel-indicators button {
  background-color: var(--green2);
  height: 8px;
  width: 8px;
  display: inline-block;
  margin: 0 3px;
  border-radius: 100px;
  transition: all ease 0.3s;
  border: none;
  opacity: 0.5;
  padding: 0;
  
}

.carousel-indicators button.active {
    width: 8px;
    box-shadow: 0px 0px 0px 1px #fff;
    opacity: 1;
    
}
.owl-next,
.owl-prev
{
    position: absolute;
    top: 40%;
    background: #fff!important;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    font-size: 24px!important;
    line-height: 0!important;
    box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 20%);
}
.owl-next
{
    right: 0;
}

button:focus 
{
    outline: none!important;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}
button
{
  font-size: 14px;
}
.btn_primary
{
    font-size: 14px;
    padding: 6px 6px 6px 16px;
    font-weight: 600;
}
.btn_primary i
{
border-radius: 100px;
width: 30px;
height: 30px;
margin-left: 5px;
padding: 8px;
}

.color_green
{
    color: var(--green);
}
.color_green2
{
    color: var(--green2);
}
.color_yellow
{
    color: var(--yellow);
}
.bg_green
{
    background-color: var(--green);
}
.bg_yellow
{
    background-color: var(--yellow);
}
.bg_green2
{
    background-color:var(--green2);
}

/*Header start*/
header
{
position: fixed;
left: 0;
top: 0;
width: 100%;
z-index: 9;
}
header nav .navbar-brand .logo {
  width: 150px;
}

header nav .nav-item {
  margin: 0 3px;
}

header nav .nav-link {
  transition: all ease 0.3s;
  font-size: 15px;
  color: #000;
}


header .navbar-nav .nav-link span {
  position: relative;
  overflow: hidden;
  z-index: 1;
}


header .navbar-nav .nav-link span:after {
  content: "";
  width: 0px;
  border-radius: 100px;
  height: 3px;
  bottom: -6px;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  -webkit-transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
  transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
  background-color: var(--green);
  
}

header .navbar-nav .nav-link:hover span:after,
header .nav-item .nav-link.active span:after {
  width: 100%;
  left: 0;
  right: auto;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler i:before {
  font-size: 24px;
}
header nav .btn_book
{
  font-size: 14px;
}
/*Header end*/








/* modal */
.modal-body .btn_delete
{
  right: -10px;
  position: absolute;
  top: -10px;
  height: 30px;
  width: 30px;
}
.modal-header .close
{
  border: none;
}

/* mentor lisr */
.page_mentorlist .card-img-top
{
  max-width: 100px;
  margin: auto;
}

/* appointment */
.appointment_page .slot_selection .card .slot_check
{
  border-radius: 100px;
  font-size: 12px;
  margin: 3px;
  border: 1px solid #bbbbbb;
  padding: 4px 10px;
} 
.appointment_page .slot_selection .card .btn-check:active+.slot_check, 
.appointment_page .slot_selection .card .btn-check:checked+.slot_check, 
.appointment_page .slot_selection .card .slot_check.active, 
.appointment_page .slot_selection .card .slot_check.dropdown-toggle.show, 
.appointment_page .slot_selection .card .slot_check:active 
{
  background-color: #326247;
  color: white;
}










@media (max-width:768px)
{
  .home_page .section5 .content1::before
  {
    display:none;
  }
  .configuration_page .section1 .content1 .nav 
  {
    white-space: nowrap;
    overflow: auto;
    
  }
  .configuration_page .section1 .content1 .nav > div
  {
    display: inline-block;
  }
  
}
@media (max-width:540px)
{
  .data_wrap .data 
  {
    display: block!important;
  }
  .data_wrap .data > div
  {
    padding: 5px 0;
  }
}
 

