/*home page start*/
.home_page .section1
{
  min-height: 600px;
  overflow: hidden;
  position: relative;
}
.home_page .section1 .gradient
{
  top: 0;
  right: 0;
  width: 245px;

  background: rgb(18,55,41);
background: -moz-linear-gradient(180deg, rgba(18,55,41,1) 0%, rgba(5,10,8,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(18,55,41,1) 0%, rgba(5,10,8,1) 100%);
background: linear-gradient(180deg, rgba(18,55,41,1) 0%, rgba(5,10,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#123729",endColorstr="#050a08",GradientType=1);
}
.home_page .section1 .content2 .dots
{
  position: absolute;
  width: 148px;
  right: -30px;
  top: -25px;
  z-index: 1;
  filter: brightness(6);
}
.home_page .section1 .content2 .owl-dots
{
  text-align: right;
}
.home_page .section1 .content2 .carousel_1 .item
{
  margin-top: 5px;
}




.home_page .section2 .btn_more
{
  border-radius: 100px;
width: 30px;
height: 30px;
margin-left: 5px;
padding: 8px 10px;
}



.home_page .section3
{
  overflow: hidden;
}
.home_page .section3 .gradient
{
  z-index: -1;
  top: 0;
  left: 0;
  margin-left: 5vw;
  padding: 33px;
  border-radius: 10px;

  background: rgb(25,83,61);
background: -moz-radial-gradient(circle, rgba(25,83,61,1) 51%, rgba(5,10,8,1) 100%);
background: -webkit-radial-gradient(circle, rgba(25,83,61,1) 51%, rgba(5,10,8,1) 100%);
background: radial-gradient(circle, rgba(25,83,61,1) 51%, rgba(5,10,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19533d",endColorstr="#050a08",GradientType=1);
}
.home_page .section3 .content .title
{
  font-weight: 600;
}
.home_page .section3 .content img
{
width: 75px;
}
.home_page .section3 .dots2
{
position: absolute;
    width: 100px;
    left: 36px;
    bottom: -50px;
}
.home_page .section3 .dots1
{
  position: absolute;
    width: 100px;
    right: 0;
    top: -50px;
}


.home_page .section5 h3 span
{
  font-size: 50px;
}
.home_page .section5 .content1 span
{
  width: 45px;
  height: 45px;
  font-size: 27px;
  font-weight: 600;
  border-radius: 100px;
  padding: 4px;
}
.home_page .section5 .content1 h5
{
  font-weight: 600;
}
.home_page .section5 .content1::before
{
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: var(--green2);
  left: 22px;
  top: 0;
  z-index: -1;
  opacity: 0.5;
}
.home_page .section5 .content2 img
{
  border-radius: 5px;
}
.home_page .section6 .content1 h2
{
  font-weight: 600;
}
.home_page .section6 .content1 button
{
  white-space: nowrap;
}
/*home page end*/